<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attacker Panel</title>
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body>

<header>
    <h1>💀 Attacker Panel 💀</h1>
</header>

<div class="task-section">
    <h2>Лог украденных куки</h2>
    <button class="submit-btn" onclick="fetchCookies()">🔍 Обновить</button>
    <div id="cookies-list" class="message-box">Нажмите "Обновить", чтобы загрузить куки.</div>
</div>

<script src="JS/script.js"></script>

</body>
</html>









