<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <script src="/JS/script.js" defer></script>
</head>
<body>
    <header>
        <h1>Добро пожаловать на платформу для симуляции уязвимостей веб-приложений!</h1>
    </header>

    <section class="intro">
        <h2>Выберите уровень атаки</h2>
        <p>
            На этой платформе вы можете научиться находить и использовать уязвимости веб-приложений, начиная с простых SQL-инъекций до более сложных атак.
        </p>
        <div class="levels">
            <a href="/sql-injection/lvl1" class="level-btn">SQL Инъекция: Уровень 1</a>
            <a href="/sql-injection/lvl2" class="level-btn">SQL Инъекция: Уровень 2</a>
            <a href="/sql-injection/lvl3" class="level-btn">SQL Инъекция: Уровень 3</a>
            <a href="/sql-injection/lvl4" class="level-btn">SQL Инъекция: Уровень 4</a>
        </div>
    </section>

    <footer>
        <p>© 2025 Все права защищены.</p>
    </footer>
</body>
</html>
